<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chi Tiết Sản Phẩm</title>
  <link rel="stylesheet" href="css/bootstrap.min.css"> 
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/5a63344f2e.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="container">
        <div class="row">
            <div class="col-md-4"><img src="img/Son_logo.png" alt="logo"></div>
            <div class="col-md-4">
                <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
            <div class="col-md-4"><i class="fas fa-shopping-cart fs-3"></i> <button class="btn btn-primary">Đăng nhập</button></div>
                <div class="col">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="container-fluid">
                          <a class="navbar-brand" href="#">Book Store</a>
                          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                          <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                              <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#">Trang chủ</a>
                              </li>
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Sản phẩm
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <li><a class="dropdown-item" href="#">Sách Giáo Khoa</a></li>
                                  <li><a class="dropdown-item" href="#">Tiểu Thuyết</a></li>
                                  <li><a class="dropdown-item" href="#">Sách Kinh Tế</a></li>
                                </ul>
                              </li>
    
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Thương Hiệu
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <li><a class="dropdown-item" href="#">NXB Giáo Dục</a></li>
                                  <li><a class="dropdown-item" href="#">Nhã Nam</a></li>
                                  <li><a class="dropdown-item" href="#">NXB Trẻ</a></li>
                                </ul>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#">Chính sách bán hàng</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#">Liên hệ</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                    </nav>
                </div>
    
        </div>
    </header>
    <div class="container-fluid">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="img/Son_slide01.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/Son_slide02.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/Son_slide03.png" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="container mt-3">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <div class="card-header">
              Các loại Sản phẩm
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="" class="text-decoration-none">Sách Giáo Khoa</a></li>
              <li class="list-group-item"><a href="" class="text-decoration-none">Tiểu Thuyết</a></li>
              <li class="list-group-item"><a href="" class="text-decoration-none">Sách Kinh Tế</a></li>
            </ul>
          </div>
          <div class="card mt-2">
            <div class="card-header">
              THƯƠNG HIỆU
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="" class="text-decoration-none">NXB GIÁO DỤC</a></li>
              <li class="list-group-item"><a href="" class="text-decoration-none">NHÃ NAM</a></li>
              <li class="list-group-item"><a href="" class="text-decoration-none">NXB TRẺ</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="img/Son_img01.jpg" class= img-fluid alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Giải Tích 12</h5>
                    <div>Invidunt amet magna labore labore labore. Ut sed accusam dolore voluptua ipsum at no. At ipsum gubergren takimata dolores duo vero no kasd amet. Justo amet no voluptua ipsum elitr kasd et sea. No magna ipsum amet labore tempor dolores ipsum sit lorem, amet sea et kasd vero clita. Sit et gubergren et ipsum, sadipscing ea magna dolor labore lorem nonumy.</div>
                    <p class="card-text"><span class="text-decoration-line-through">100.000 VND</span>|<span class="text-danger">80.000 VND</span></p>
                    <a href="#" class="btn btn-primary">Add to card</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col alert-danger">Sản phẩm tương tự</div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <img src="img/Son_img02.jpg" class="card-img-top" alt="hinhsp">
                <div class="card-body text-center lert alert-primary">
                  <h5 class="card-title">Ngữ văn 11 tập 1</h5>
                  <p class="card-text"><span class="text-decoration-line-through">100.000 VND</span>|<span class="text-danger">80.000 VND</span></p>
                  <a href="#" class="btn btn-primary">Add to card</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img src="img/Son_img03.jpg" class="card-img-top" alt="hinhsp">
                <div class="card-body text-center lert alert-primary">
                  <h5 class="card-title">Hóa học 11 nâng cao</h5>
                  <p class="card-text"><span class="text-decoration-line-through">100.000 VND</span>|<span class="text-danger">80.000 VND</span></p>
                  <a href="#" class="btn btn-primary">Add to card</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img src="img/Son_img04.jpg" class="card-img-top" alt="hinhsp">
                <div class="card-body text-center lert alert-primary">
                  <h5 class="card-title">Vật Lý 10</h5>
                  <p class="card-text"><span class="text-decoration-line-through">100.000 VND</span>|<span class="text-danger">80.000 VND</span></p>
                  <a href="#" class="btn btn-primary">Add to card</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img src="img/Son_img05.jpg" class="card-img-top" alt="hinhsp">
                <div class="card-body text-center lert alert-primary">
                  <h5 class="card-title">Địa Lí 9</h5>
                  <p class="card-text"><span class="text-decoration-line-through">100.000 VND</span>|<span class="text-danger">80.000 VND</span></p>
                  <a href="#" class="btn btn-primary">Add to card</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="footer container-fluid bg-dark">
      <div class="row">
        <div class="col-md-4 p-5">
          <a href="" class="text-decoration-none">Về chúng tôi</a><br>
          <a href="" class="text-decoration-none">Chính sách bán hàng</a><br>
          <a href="" class="text-decoration-none">Liên hệ</a>
        </div>
        <div class="col-md-4 p-5">
          <a href="" class="text-decoration-none">Tài khoản</a><br>
          <a href="" class="text-decoration-none">Đăng ký</a><br>
        </div>
        <div class="col-md-2 p-5 text-end"><i class="fab fa-facebook-f text-white-50"></i><i class="fab fa-instagram-square text-white-50 p-3"></i><i class="fab fa-google text-white-50"></i></div>
      </div>
    </div>
</body>
</html>